@import './bootstrap4/scss/functions'; // Needs to be imported before variables.scss, otherwise error
@import './variables';
@import './bootstrap4/scss/bootstrap.scss';

@import './_navbar.scss';

.comment {
  font-size: 0.8rem;
  background: lightslategray;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
}
